<h1><%= resource.title %></h1>

<% if can? :manage, resource %>
  <%= link_to 'Edit', [:edit, resource] %>

  <br>

  <%= link_to 'Destroy', resource, :method => :delete, :data => { :confirm => 'Are you sure' } %>

<% end %>

<%= simple_format(resource.text) %>
